/* Reset Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}
p {
    padding-left: 100px;
    padding-right: 100px;
    line-height: 2.4;
    text-align: justify;
color:#ffffff;
font-weight: 700;
font-size: 30px;
}
main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
     min-height: 100vh;
}
::selection{
    color:rgb(184, 184, 20)
}
h1{
    padding-bottom: 120px;
padding-top: 40px;
font-size: 50px
}
h1 span{
    color:rgb(255, 255, 0)
}
